<h1>Send Notification</h1>

<form action="/emergency_notifications" method="POST">
	Emergency Name: <input type="text" name="emergency_notification[title]"/></br>
	Emergency Description: <input type="textarea" name="emergency_notification[message]"/></br>
	<button>Send Emergency</button>
</form>