h1
{
	text-align: center;
}
h3
{
	text-align: center;
}
#main
{
	text-align:center;
	margin:auto;
}
#inputbox
{
	width: 600px;
	text-align:left;
}
#inputboxcenter
{
	width: 600px;
	text-align:center;
	margin:auto;
}
#deviceID
{
	width: 100px;
    white-space: nowrap;
    overflow: hidden;         
    text-overflow: ellipsis;
}